$primary-color: #2ea44f;
$primary-hover-color: #2c974b;
$secondary-color: #24292e;
$background-color: #e9ecef;
$text-color: #24292e;
$link-color: green;
$link-hover-color:greenyellow;
$main-background-color: #ffffff;

$card-margin-bottom: 20px;
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$card-hover-transform: translateY(-5px);
$card-title-font-size: 1.25rem;
$card-title-font-weight: 600;
$card-text-font-size: 0.9rem;
$card-text-color: #6c757d;
$btn-primary-bg: #2ea44f;
$btn-primary-border: #2ea44f;
$btn-primary-hover-bg: #2c974b;
$btn-primary-hover-border: #298f46;

$main-btn-primary-bg: #0366d6;            
$main-btn-primary-border: #0366d6;        
$main-btn-primary-hover-bg: #0353a4;       
$main-btn-primary-hover-border: #034a8c;